body {
    background-color: pink;
    display: grid;
    place-items: center;
    height: 100vh;
    overflow: hidden;

}
.box{
    background-color: white;
    height: 500px;
    width: 600px;
   
}
img{
    margin-left: 240px;
    margin-top: 50px;
}
h1 {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.button {
    border-radius: 25px;
    padding: 10px 24px;
    margin-left: 150px;
    margin-top: 50px;
    font-weight: bolder;    
    font-size: larger;
}
.yes {
      background-color: red;
}
.yes:hover{
  background-color: aqua;
}
.no {
     position: absolute;
     transition: transform 0.15s ease;
}
